<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
</head>
<body>
<h1>Files Present</h1>
<p></p>
<ul>
    {% for file in files %}
        <li>
            <form method="delete" target="/file/{{ file[0] }}">
                <input type="submit" value="Delete File">
            </form>
            <a href="/file/{{ file[0] }}" target="_blank">{{ file[1] }}</a>
        </li>
    {% endfor %}
</ul>

<form method="delete" target="files">
    <input type="submit" value="Delete All">
</form>

</body>
</html>